@*<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">*@
        @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" /><a href="#"></a>*@
        @*<Card CardData=@(new("Test Title", "Test Subtitle"))>
            Test
        </Card>*@
        <Dashboard DashboardData=@(new()
            {
                Sections =
                {
                    new() 
                    {
                        Name = "Section 1",
                        Cards = 
                        {
                            new() { Title = "Card 1" },
                            new() { Title = "Card 2" },
                            new() { Title = "Card 3" },
                        }
                    },
                    new()
                    {
                        Name = "Section 2",
                        Cards =
                        {
                            new() { Title = "Card 1" },
                            new() { Title = "Card 2" }
                        }
                    },
                    new()
                    {
                        Name = "Section 3",
                        Cards = 
                        {
                            new() { Title = "Card 1" }
                        }
                    },
                    new()
                    {
                        Name = "Section 4",
                        Cards = 
                        {
                            new() { Title = "Card 1", Subtitle = "Subtitle 1" },
                            new() { Title = "Card 2" },
                            new() { Title = "Card 3" },
                            new() { Title = "Card 4" },
                            new() { Title = "Card 5" },
                            new() { Title = "Card 6" },
                            new() { Title = "Card 7" },
                            new() { Title = "Card 8" },
                            new() { Title = "Card 9" },
                            new() { Title = "Card 10" },
                        }
                    },
                    new() 
                    {
                        Name = "Section 5",
                        Cards = 
                        {
                            new() { Title = "Card 1" },
                            new() { Title = "Card 2" },
                            new() { Title = "Card 3" },
                            new() { Title = "Card 4" },
                        }
                    },
                },
                SelectedSectionIndex = 3,
            }) />
@*    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>*@
